<div class="container mx-auto px-4 py-8 max-w-4xl">
  <h1 class="text-3xl font-bold mb-8 border-b pb-4">プライバシーポリシー</h1>

  <div class="prose max-w-none text-gray-700 leading-relaxed space-y-8">
    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">個人情報の利用目的</h3>
      <p>
        当アプリでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。<br>
        取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
      </p>
    </section>

        <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">第三者提供</h3>
      <p>
        当アプリでは、法令に基づく場合を除き、ユーザーの同意を得ることなく、個人情報を第三者に提供することはありません。
      </p>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">広告について</h3>
      <p>
        当アプリでは、第三者配信の広告サービス（Googleアドセンス、A8.net）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。<br>
        クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
      </p>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">アクセス解析ツールについて</h3>
      <p>
        当アプリでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
        このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
      </p>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">コメントについて</h3>
      <p>
        当アプリへのコメントを残す際に、IPアドレスを収集しています。これは標準機能としてサポートされている機能で、スパムや荒らしへの対応以外にこのIPアドレスを使用することはありません。<br>
        なお、全てのコメントは管理人が事前にその内容を確認し、承認した上での掲載となります。あらかじめご了承ください。
      </p>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">免責事項</h3>
      <p>
        当アプリからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br>
        また当アプリのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br>
        当アプリに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
      </p>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-gray-900 mb-3">著作権について</h3>
      <p>
        当アプリで掲載している文章や画像などにつきましては、無断転載することを禁止します。<br>
        当アプリは著作権や肖像権の侵害を目的としたものではありません。
      </p>
    </section>
    
    </div>
</div>